.blob {
  position: absolute;
  scale: 2.5;
  transition: all 0.5s ease;
}

/* Default positioning for smaller screens (e.g., mobile) */
#blob-1 {
  top: 15%;
  right: 10%;
  z-index: -1;
}

#blob-2 {
  top: 30%;
  right: 20%;
  z-index: -2;
  rotate: 110deg;
}

/* Medium screens (e.g., tablets) */
@media (min-width: 768px) {
  #blob-1 {
    top: 10%;
    right: 15%;
  }

  #blob-2 {
    top: 25%;
    right: 30%;
  }
}

/* Large screens (e.g., desktop) */
@media (min-width: 1024px) {
  #blob-1 {
    top: 10%;
    right: 20%;
  }

  #blob-2 {
    top: 20%;
    right: 40%;
  }
}

/* Extra-large screens (e.g., large desktops) */
@media (min-width: 1280px) {
  #blob-1 {
    top: 8%;
    right: 25%;
  }

  #blob-2 {
    top: 18%;
    right: 45%;
  }
}

.gradient-1 {
  background-image: radial-gradient(
      at 71.57077085841101% 10.949544510858345%,
      hsla(35.05882352941177, 100%, 50%, 1) 0%,
      hsla(35.05882352941177, 100%, 50%, 0) 100%
    ),
    radial-gradient(
      at 1.141653002689802% 71.32176367299778%,
      hsla(356.2237762237762, 70.44334975369458%, 39.80392156862745%, 1) 0%,
      hsla(356.2237762237762, 70.44334975369458%, 39.80392156862745%, 0) 100%
    ),
    radial-gradient(
      at 58.35200124150458% 76.13923193437152%,
      hsla(35.05882352941177, 100%, 50%, 1) 0%,
      hsla(35.05882352941177, 100%, 50%, 0) 100%
    ),
    radial-gradient(
      at 28.1673804758833% 16.78731266280076%,
      hsla(35.05882352941177, 100%, 50%, 1) 0%,
      hsla(35.05882352941177, 100%, 50%, 0) 100%
    );
}

.gradient-2 {
  background-image: radial-gradient(
      at 11.123748978541192% 74.52152284563864%,
      hsla(35.05882352941177, 100%, 50%, 1) 0%,
      hsla(35.05882352941177, 100%, 50%, 0) 100%
    ),
    radial-gradient(
      at 50.7692526902037% 55.749447325555124%,
      hsla(356.2237762237762, 70.44334975369458%, 39.80392156862745%, 1) 0%,
      hsla(356.2237762237762, 70.44334975369458%, 39.80392156862745%, 0) 100%
    ),
    radial-gradient(
      at 24.617851896804233% 42.31230106775388%,
      hsla(35.05882352941177, 100%, 50%, 1) 0%,
      hsla(35.05882352941177, 100%, 50%, 0) 100%
    ),
    radial-gradient(
      at 92.23457751469113% 61.08610088578544%,
      hsla(35.05882352941177, 100%, 50%, 1) 0%,
      hsla(35.05882352941177, 100%, 50%, 0) 100%
    );
}

.gradient-3 {
  background-image: radial-gradient(
      at 66.13290367914996% 12.398933368576282%,
      hsla(35.05882352941177, 100%, 50%, 1) 0%,
      hsla(35.05882352941177, 100%, 50%, 0) 100%
    ),
    radial-gradient(
      at 14.088900832243944% 53.69256240388947%,
      hsla(356.2237762237762, 70.44334975369458%, 39.80392156862745%, 1) 0%,
      hsla(356.2237762237762, 70.44334975369458%, 39.80392156862745%, 0) 100%
    ),
    radial-gradient(
      at 28.573894448222102% 65.82948027733428%,
      hsla(35.05882352941177, 100%, 50%, 1) 0%,
      hsla(35.05882352941177, 100%, 50%, 0) 100%
    ),
    radial-gradient(
      at 56.387942596152044% 17.55483871272193%,
      hsla(35.05882352941177, 100%, 50%, 1) 0%,
      hsla(35.05882352941177, 100%, 50%, 0) 100%
    ),
    radial-gradient(
      at 65.07572431494786% 21.866543417603335%,
      hsla(356.2237762237762, 70.44334975369458%, 39.80392156862745%, 1) 0%,
      hsla(356.2237762237762, 70.44334975369458%, 39.80392156862745%, 0) 100%
    ),
    radial-gradient(
      at 22.83754449079366% 56.52646734973262%,
      hsla(35.05882352941177, 100%, 50%, 1) 0%,
      hsla(35.05882352941177, 100%, 50%, 0) 100%
    ),
    radial-gradient(
      at 28.231289603913112% 70.30170522476988%,
      hsla(35.05882352941177, 100%, 50%, 1) 0%,
      hsla(35.05882352941177, 100%, 50%, 0) 100%
    ),
    radial-gradient(
      at 66.84412347756023% 1.3772206757127314%,
      hsla(356.2237762237762, 70.44334975369458%, 39.80392156862745%, 1) 0%,
      hsla(356.2237762237762, 70.44334975369458%, 39.80392156862745%, 0) 100%
    ),
    radial-gradient(
      at 63.628928988385624% 44.23325528522313%,
      hsla(35.05882352941177, 100%, 50%, 1) 0%,
      hsla(35.05882352941177, 100%, 50%, 0) 100%
    ),
    radial-gradient(
      at 84.65920003445319% 4.027312899900338%,
      hsla(35.05882352941177, 100%, 50%, 1) 0%,
      hsla(35.05882352941177, 100%, 50%, 0) 100%
    ),
    radial-gradient(
      at 96.68762159020461% 24.37592077002112%,
      hsla(356.2237762237762, 70.44334975369458%, 39.80392156862745%, 1) 0%,
      hsla(356.2237762237762, 70.44334975369458%, 39.80392156862745%, 0) 100%
    );
}

#hero {
  padding-bottom: 100px;
}

#hero > p {
  max-width: 100%; /* Default to full width on small screens */
}

/* Medium screens (e.g., tablets) */
@media (min-width: 768px) {
  #hero > p {
    max-width: 80%; /* Slightly smaller than full width */
  }
}

/* Large screens (e.g., desktop) */
@media (min-width: 1024px) {
  #hero > p {
    max-width: 60%; /* 50-60% width for larger screens */
  }
}

/* Extra-large screens (e.g., large desktops) */
@media (min-width: 1280px) {
  #hero > p {
    max-width: 50%; /* Narrower width on the largest screens */
  }
}

.vertical-divider {
  width: 1px;
  height: 30px;
  background-color: #303030;
}
